/*
iPlanner Home Styles
*/

.news-item {
	line-height: 1.2em;
}

.news-photo {
	float:left;
	width:72px;
	height:72px;
}

.news-photo img {
	width:inherit;
	height:inherit;
}

.news-headline {
	font-size:inherit;
}

.news-excerpt {}

.read-more {
	text-transform: uppercase;
}

#content .nav-tabs li a {
color: #939597;
}

#content .nav-tabs li a:hover, #content .nav-tabs li a:focus {
	background-color:#FFF;
	color: #00A1D0;
}

#content .nav-tabs li .active {
	color: #00A1D0;
}

#content .nav-tabs li .active:hover, #content .nav-tabs li .active:focus {
	color: #00A1D0;
}

#content .tab-pane {
	padding:20px 30px;
	border-right: 1px solid #DEE2E6;
	border-bottom: 1px solid #DEE2E6;
	border-left: 1px solid #DEE2E6;
}

#content .tab-content .tab-pane .tab-box {
	padding-right:10px;
	padding-left:10px;
	border-right: 1px solid #F1F1F1;
}

#content .tab-content .tab-pane .tab-box:first-child {
	padding-left:0;
}

#content .tab-content .tab-pane .tab-box:last-child {
	padding-right:0;
	border-right: none;
}

#content .tab-content .tab-pane .tab-box ul {
	min-height: 135px;
	padding: 0 0 0 15px;
}

#content .tab-content .tab-pane .tab-box .tab-button-bg {
	margin-bottom:0;
}

#content .tab-content .tab-pane .tab-box h5 {
	font-size: 120%;
}

#content .tab-content .tab-pane .tab-box .btn {
	font-size:100%;
}

#content .tab-content .tab-pane .tab-box ul.literature {
	padding:0;
  list-style: none;
  line-height:2em;
}

/*

#content .tab-content .tab-pane .tab-box ul.literature li {
  display: inline-block;
}

#content .tab-content .tab-pane .tab-box ul.literature li:before {
  content: '✓';
  border: 1px solid #FFF;
  float:left;
  margin-right: 5px;
}

*/



		#content .tab-box ul.literature {
			list-style-image: url('../images/ico-book-btn-2.png');
		}

	#content .tab-box p {
		margin-bottom:10px;
		font-size:110%;
	}

	#content .tab-box .tab-button-bg {
		margin-bottom:20px;
		background-color:#FAFAFA;
	}

	#content .tab-box .tab-button{
	    padding: 10px 10px 10px 30px;
		background: url("../images/ico-book-btn.png") no-repeat scroll left center;
		font-size:110%;
		color:#333;
	}
